@charset "utf-8";

div {
    font-size:20px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header,.main,.footer,img {
    width:100%;
}
	
body {
    font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
	margin:0;
	color: white;
	background-color: black; 
}

div {
    font-size:20px;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.header,.main,.footer,img {
	width:100%;
}

.footer {
    font-size: 80%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-c {
  font-size: 1.8rem;

  position: relative;

  padding: 2rem 4rem 2rem 2rem;

  -webkit-transition: all 0.3s;

  transition: all 0.3s;

  color: #fff;
  border-radius: 100vh;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#007adf),
    to(#00ecbc)
  );
  background-image: -webkit-linear-gradient(left, #007adf 0%, #00ecbc 100%);
  background-image: linear-gradient(to right, #007adf 0%, #00ecbc 100%);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

a.btn-c:before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.6rem;
  line-height: 1;

  position: absolute;
  top: calc(50% - 0.8rem);
  right: 1rem;

  margin: 0;
  padding: 0;


}

a.btn-c:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

  color: #fff;
}
