@charset "utf-8";

div {
    font-size:20px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header,.main,.footer,img {
    width:100%;
}
	
body {
    font: 12px/1.6 Times New Roman,"MS P明朝","ヒラギノ明朝","Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
	margin:0;
	color: white;
	background: black;
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 18%, rgba(58,71,89,1) 100%);
}

div {
    font-size:20px;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.header,.main,.footer,img {
	width:100%;
}

.footer {
    font-size: 80%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn--yellow {
color: #fff;
  background-color: #53a6d7;
}

a.btn--yellow:hover {
  color: #fff;
  background: #53a6d7;
}

a.btn--yellow.btn--cubic {
  border-bottom: 5px solid #3b779a;
}

a.btn--yellow.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #3b779a;
}



a.btn--red {
color: #fff;
  background-color: #c4302b;
}

a.btn--red:hover {
  color: #fff;
  background: #c4302b;
}

a.btn--red.btn--cubic {
  border-bottom: 5px solid #89211e;
}

a.btn--red.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #89211e;
}




a.btn-c {
  font-size: 1.8rem;
  position: relative;
  padding: 2rem 5rem 2rem 5rem;
  border-radius: 100vh;
}
