div{font-size:20px;}
.wrapper {
	max-width: 900px;
	margin: 0 auto;
	}
.header,.main,.footer,img{
width:100%;}
	
body{
margin:0;
color: white;
background-color: black; 
}

div{font-size:20px;}
.wrapper {
	max-width: 900px;
	margin: 0 auto;
	}
.header,.main,.footer,img{
width:100%;}
	
body{
margin:0;
color: white;
background-color: black; 
}
